.login__link{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}

.login__link:hover{
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
}