.card__basket-button {
    background-image: url(../../../images/logo/basket.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0);
    width: 18px;
    height: 19px;
    background-size: contain;
    border: none;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .card__basket-button:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
  }